---
layout: default
---

{% if page.banner_image %}
  {% capture banner_image_path %}{{ page.banner_image | relative_url }}{% endcapture %}
{% else %}
  {% capture banner_image_path %}{{ '/assets/images/overlay.png' | relative_url }}{% endcapture %}
{% endif %}

<!-- Banner -->
<section id="banner" style="background-image: url('{{ banner_image_path }}');">
  <h2>{{ site.title }}</h2>
  <p>{{ site.description }}</p>
  <ul class="actions">
    <li><a href="#" class="button special">Sign Up</a></li>
    <li><a href="#" class="button">Learn More</a></li>
  </ul>
</section>

<div class="box special features">
  {{ content }}
</div>

{% include cta.html %}
